@import url('https://fonts.googleapis.com/css2?family=Lato:300,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  /* background: linear-gradient(to right, #d4d3dd, #efefbb); */
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 4rem;
}

.btn {
  z-index: 2;
  border: none;
  margin-right: 17px;
  background-color: #222;
  color: white;
  padding: 0.55rem 2.40rem;
  border-radius: 5px;
  font-size: 1rem;
}

#btnNext{
  position: absolute;
  top: 644px;
  left: 1152px;
}

#btnPrev {
  position: absolute;
  top: 644px;
  left: 1020px;
}

.btn:hover{
  background-color: rgb(54, 54, 54);
}
.poke-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.btn:focus{
  outline: none;
}

.pokedex {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 182px;
  left: -202px;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
  z-index: 100;
  width: 235px;
  height: 155px;
  /* border: solid black 1px; */
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .img-container img {
  max-width: 90%;
  margin-top: 20px;
}

.info {
  color: #fff;
  line-height: 0.8rem;
  text-align: center;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top: 364px;
  left: 1020px;
  height: 87px;
  width: 241px;
  background-color: #222;
  z-index: 2;
  border-radius: 5px;
}

